.resultsTable {
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 450px;
    margin: 30px auto 10px auto;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 0 5px black
}

.resultsTable h2 {
    margin-top: 10px;
    font-size: 24px;
}

.resultsTable h2::after {
    content: '';
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

.resultsTable li {
    list-style-type: none;
    font-size: 20px;
    margin: 20px;
}

.resultsTable li::after {
    content: '';
    display: block;
    width: 60%;
    margin: 10px auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}