* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100vh;
  background: url(./img/bg2.jpg) no-repeat center;
  background-size: cover;
}